.verification-table-container {
    margin: 80px auto 20px auto; /* Add top margin to separate from the navbar */
    width: 80%;
    padding: 10px;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.verification-table {
    width: 100%;
    border-collapse: collapse;
}

.verification-table th,
.verification-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.verification-table th {
    background-color: gray;
    color: white;
}

.approve-btn {
    background-color: #28a745;
    color: white;
    width:  30%;
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reject-btn {
    background-color: #dc3545;
    width:  30%;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}
.block-btn {
    background-color: orange;
    width:  30%;
    color: white;
    padding: 8px 12px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.unblock-btn {
    background-color: green;
    width:  30%;
    color: white;
    padding: 8px 12px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.approve-btn:hover {
    background-color: #218838;
}

.reject-btn:hover {
    background-color: #c82333;
}
.reject-btn:hover {
    background-color: orange;
}
.unblock-btn:hover {
    background-color: orange;
}
.block-btn:hover {
    background-color: orange;
}