<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- This is used by the StateManager's replicator. -->
  <Section Name="ReplicatorConfig">
    <Parameter Name="ReplicatorEndpoint" Value="ReplicatorEndpoint" />
  </Section>
  <!-- This is used for securing StateManager's replication traffic. -->
  <Section Name="ReplicatorSecurityConfig" />

  <!-- Add your custom configuration sections and parameters here. -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->
	<Section Name="AzureStorage">
		<Parameter Name="StorageConnectionString" Value="UseDevelopmentStorage=true" />
		<Parameter Name="DriversVerificationTable" Value="DriversVerification" />
		<Parameter Name="UsersTable" Value="users" />
		<Parameter Name="BlobContainer" Value="userimages" />
		<Parameter Name="RidesTable" Value="rides" />
		
	</Section>
	<Section Name="AzureStorageQueue">
		<Parameter Name="StorageConnectionString" Value="UseDevelopmentStorage=true" />
		<Parameter Name="UpdateUserQueueName" Value="update-user-queue" />
		<Parameter Name="UpdateUserResponseQueueName" Value="update-user-response-queue" />
		<Parameter Name="DriversVerificationQueueName" Value="drivers-verification-queue" />
		<Parameter Name="DriversVerificationResponseQueueName" Value="drivers-verification-response-queue" />
		<Parameter Name="ApproveDriverQueueName" Value="approve-driver-queue" />
		<Parameter Name="ApproveDriverResponseQueueName" Value="approve-driver-response-queue" />
		<Parameter Name="RejectRequestQueueName" Value="reject-request-queue" />
		<Parameter Name="RejectRequestResponseQueueName" Value="reject-request-response-queue" />
		<Parameter Name="RideQueueName" Value="ride-queue" />
		<Parameter Name="CreateRideResponseQueueName" Value="create-ride-response-queue" />
		<Parameter Name="AcceptRideQueueName" Value="accept-ride-queue" />
		<Parameter Name="AcceptRideResponseQueueName" Value="accept-ride-response-queue" />
		<Parameter Name="DriverRatingQueueName" Value="driver-rating-queue" />
		<Parameter Name="DriverRatingResponseQueueName" Value="driver-rating-response-queue" />
		<Parameter Name="BlockDriverQueueName" Value="block-driver-queue" />
		<Parameter Name="BlockDriverResponseQueueName" Value="block-driver-response-queue" />
		<Parameter Name="UnBlockDriverQueueName" Value="un-block-driver-queue" />
		<Parameter Name="UnBlockDriverResponseQueueName" Value="un-block-driver-response-queue" />
	</Section>
</Settings>
